   <div class="row "
   style="margin: 3em; padding: 2em; border-radius: 1em;">
    <div class="col s18 m12">
      <div class="card center grey lighten-4">
        <div class="card-content white-text">
          <div>
            <img class="row center" width="250" src="/img/azul.jpg">
          </div>
          <h1 class="black-text darken-1-text" style="font-style: italic;">Crear Cuenta </h1>
           
          <form autocomplete="off" action="/user/register" method="post">
            {{!-- nombre --}}
            <div class='input-field'>
            <label for='user-name' class="black-text">Nombre(S)</label>
            <input
              placeholder='Nombre(S)'
              id='nombre'
              name='nombre'
              type='text'
              class="validate"
              value="{{ user.name }}"
              required
            />
            <span 
              class="helper-text"
              data-error="Es necesario que ingrese su o sus Nombres"
              data-success="✅ Correcto"
              ></span>
            {{#if errorModel.nombre }}
            <span style="color: crimson;">Error: {{ errorModel.nombre }}</span>
            {{/if}}
          </div>

          {{!-- Apellidos --}}

        <div class='input-field'>
            <label for='user-apellidos' class="black-text">Apellidos</label>
            <input
              placeholder='Apellidos'
              id='apellidos'
              name='apellidos'
              type='text'
              class="validate"
              value="{{ user.apellidos }}"
              required
            />
            <span 
              class="helper-text"
              data-error="Es Necesario que ingrese sus Apellidos"
              data-success="✅ Correcto"
              ></span>
            {{#if errorModel.apellido }}
            <span style="color: crimson;">Error: {{ errorModel.apellido }}</span>
            {{/if}}
          </div>

          {{!-- Correo --}}

        <div class='input-field'>
            <label for='user-correo' class="black-text">Correo Electronico</label>
            <input
              placeholder='Correo electronico 💬'
              id='correo'
              name='correo'
              type='text'
              class="validate"
              value="{{ user.correo }}"
              required
            />
            <span 
              class="helper-text"
              data-error="Es Necesario que ingrese su direccion de Correo Electronico"
              data-success="✅ Correcto"
              ></span>
            {{#if errorModel.correo }}
            <span style="color: crimson;">Error: {{ errorModel.correo }}</span>
            {{/if}}
          </div>

          {{!-- Password --}}

        <div class='input-field'>
            <label for='user-password' class="black-text">Password</label>
            <input
              placeholder='Password'
              id='password'
              name='password'
              type='password'
              class="validate"
              value="{{ user.password }}"
              required
            />
            <span 
              class="helper-text"
              data-error="Es Necesario que ingrese su Password"
              data-success="✅ Correcto"
              ></span>
            {{#if errorModel.password }}
            <span style="color: crimson;">Error: {{ errorModel.password }}</span>
            {{/if}}
          </div>

          {{!-- Confirmacion de Password --}}

         <div class='input-field'>
            <label for='user-configpass' class="black-text">Confirmacion de Password</label>
            <input
              placeholder='Confirmacion de Password'
              id='configpass'
              name='configpass'
              type='password'
              class="validate"
              value="{{ user.confirmPassword }}"
              required
            />
            <span 
              class="helper-text"
              data-error="Es Necesario que Confirme de nuevo su Password"
              data-success="✅ Correcto"
              ></span>
            {{#if errorModel.confirmPassword }}
            <span style="color: crimson;">Error: {{ errorModel.confirmPassword }}</span>
            {{/if}}
          </div>

          {{!-- Numero Telefonico --}}

         <div class='input-field'>
            <label for='user-phone' class="black-text">Numero de Telefono</label>
            <input
              placeholder='Ingrese su Numero de Telefono'
              id='phone'
              name='numero'
              type='number'
              class="validate"
              value="{{ user.phone }}"
              required
            />
            <span 
              class="helper-text"
              data-error="Es Necesario que Ingrese su Numero Telefonico"
              data-success="✅ Correcto"
              ></span>
            {{#if errorModel.phone }}
            <span style="color: crimson;">Error: {{ errorModel.phone }}</span>
            {{/if}}
          </div>

          {{!-- RFC --}}

         <div class='input-field'>
            <label for='user-rfc' class="black-text">RFC</label>
            <input
              placeholder='RFC'
              id='rfc'
              name='RFC'
              type='text'
              class="validate"
              value="{{ user.rfc }}"
              required
            />
            <span 
              class="helper-text"
              data-error="Es Necesario que ingrese su RFC"
              data-success="✅ Correcto"
              ></span>
            {{#if errorModel.rfc }}
            <span style="color: crimson;">Error: {{ errorModel.rfc }}</span>
            {{/if}}
          </div>

          {{!-- CURP --}}

        <div class='input-field'>
            <label for='user-curp' class="black-text">CURP</label>
            <input
              placeholder='CURP'
              id='curp'
              name='CURP'
              type='text'
              class="validate"
              value="{{ user.curp }}"
              required
            />
            <span 
              class="helper-text"
              data-error="Es Necesario que ingrese su CURP"
              data-success="✅ Correcto"
              ></span>
            {{#if errorModel.curp }}
            <span style="color: crimson;">Error: {{ errorModel.curp }}</span>
            {{/if}}
          </div>

          {{!-- Entidad Federativa --}}

        <div class='input-field'>
            <label for='user-entidad' class="black-text">Entidad Federativa</label>
            <input
              placeholder='Entidad Federativa'
              id='entidad'
              name='entd'
              type='text'
              class="validate"
              value="{{ user.entidad }}"
              required
            />
            <span 
              class="helper-text"
              data-error="Es Necesario que ingrese su Entidad Federativa"
              data-success="✅ Correcto"
              ></span>
            {{#if errorModel.entidad }}
            <span style="color: crimson;">Error: {{ errorModel.entidad }}</span>
            {{/if}}
          </div>

          {{!-- Fecha de Nacimiento --}}

        <div class='input-field'>
            <label for='user-fecha' class="black-text">Fecha de Nacimiento</label>
            <input
              placeholder='Fecha de Nacimiento'
              id='fecha'
              name='fecha'
              type='text'
              class="validate"
              value="{{ user.fechaNacimiento }}"
              required
            />
            <span 
              class="helper-text"
              data-error="Es Necesario que ingrese su Fecha de Nacimiento"
              data-success="✅ Correcto"
              ></span>
            {{#if errorModel.fechaNacimiento }}
            <span style="color: crimson;">Error: {{ errorModel.fechaNacimiento }}</span>
            {{/if}}
          </div>
  
      <div class="row">
        <div class="col s12">
          <div class="row center">
        <button type="submit" id="download-button"
        class="btn-large grey lighten-1 black-text">
            Continuar
        </button>
    </div>
        </div>
      </div>
    </form>
          
      </div>
    </div>
  </div>